---
import Layout from "layouts/Layout.astro";
import Card from "components/Card.astro";

const elections = [
    {
        language: "de",
        competition: "pw_us_pres",
        folder: "feed",
        season: "s2024",
        round: "round1",
        type: "live",
        feedName: "results_ranking_par_us_2.json",
        valueType: "seats",
    },
    {
        language: "de",
        competition: "lw_by",
        folder: "feed",
        season: "s2023",
        round: "round1",
        type: "live",
        feedName: "results_live.json",
    },
    {
        language: "de",
        competition: "lw_he",
        folder: "feed",
        season: "s2023",
        round: "round1",
        type: "live",
        feedName: "results_live.json",
    },
    {
        language: "de",
        competition: "pw_br_pres",
        folder: "feed",
        season: "s2022",
        round: "round2",
        type: "live",
        feedName: "results_ranking.json",
    },
];
---

<Layout title="Welcome to Astro.">
    <main>
        <h1>
            Welcome to <span class="text-gradient"
                >ElectionsLive Dev Center</span
            >
        </h1>

        <h2>Bars Widget</h2>
        <ul role="list" class="link-card-grid">
            {
                elections.map((entry) => {
                    const search = Object.keys(entry)
                        .map(
                            (key) =>
                                `${key}=${entry[key as keyof typeof entry]}`,
                        )
                        .join("&");

                    return (
                        <Card
                            href={`election/bars?${search}`}
                            title={entry.competition}
                            body="Go to elections live collection ❤️"
                        />
                    );
                })
            }
        </ul>

        <h2>Voting Areas Widget</h2>
        <ul role="list" class="link-card-grid">
            {
                elections.map((entry) => {
                    const search = Object.keys(entry)
                        .map(
                            (key) =>
                                `${key}=${entry[key as keyof typeof entry]}`,
                        )
                        .join("&");

                    return (
                        <Card
                            href={`election/votingAreas?${search}`}
                            title={entry.competition}
                            body="Go to elections live collection ❤️"
                        />
                    );
                })
            }
        </ul>

        <ul role="list" class="link-card-grid">
            <Card href="/embed-mock" title="Embed mock" body="" />
        </ul>
    </main>
</Layout>
