---
import Card from "components/Card.astro";
import { PUBLIC_ELECTIONS_LIVE_S3 } from "constants/env";
import Layout from "layouts/Layout.astro";

const elections = [
    {
        label: "US President Preelection Democrats 2024",
        language: "de",
        competition: "pw_us_pres",
        folder: "feed",
        season: "s2024",
        round: "round1",
        type: "survey",
        feedName: "results_ranking_par_us_1.json",
        valueType: "seats",
    },
    {
        label: "US President Preelection Republicans 2024",
        language: "de",
        competition: "pw_us_pres",
        folder: "feed",
        season: "s2024",
        round: "round1",
        type: "live",
        feedName: "results_ranking_par_us_2.json",
        valueType: "seats",
    },
    {
        label: "DE Bundetagswahl 2021",
        language: "de",
        competition: "bw_de",
        folder: "feed",
        season: "s2021",
        round: "round1",
        type: "live",
        feedName: "results_live.json",
        valueType: "seats",
    },
    {
        label: "DE Landtagswahl Bayern 2023",
        language: "de",
        competition: "lw_by",
        folder: "feed",
        season: "s2023",
        round: "round1",
        type: "live",
        feedName: "results_live.json",
    },
    {
        label: "DE Landtagswahl Hessen 2023",
        language: "de",
        competition: "lw_he",
        folder: "feed",
        season: "s2023",
        round: "round1",
        type: "live",
        feedName: "results_live.json",
        // dev
        customStyleUrl: `/customers/style.css`,
        // prod
        // customStyleUrl: `${PUBLIC_ELECTIONS_LIVE_S3}/customers/landtagswahl-hessen2023/aws/sz/feed/style.css`,

        // dev
        customConfigUrl: `/customers/config.json`,
        // prod
        // customConfigUrl: `${PUBLIC_ELECTIONS_LIVE_S3}/customers/landtagswahl-hessen2023/aws/test/customers/rebuild-react/config.json`,
    },
    {
        label: "Brasilien Presidentschaftswahlen 2022",
        language: "de",
        competition: "pw_br_pres",
        folder: "feed",
        season: "s2022",
        round: "round2",
        type: "live",
        feedName: "results_ranking.json",
    },
];
---

<Layout title="ElectionsLive">
    <main>
        <h1>
            Welcome to <span class="text-gradient"
                >ElectionsLive Dev Center</span
            >
        </h1>

        <h2>Bars Widget</h2>
        <ul role="list" class="link-card-grid">
            {
                elections.map((entry) => {
                    const search = Object.keys(entry)
                        .map(
                            (key) =>
                                `${key}=${entry[key as keyof typeof entry]}`,
                        )
                        .join("&");

                    return (
                        <Card
                            href={`election/bars?${search}`}
                            title={entry.label}
                            body=""
                        />
                    );
                })
            }
        </ul>

        <!-- <h2>Voting Areas Widget</h2>
        <ul role="list" class="link-card-grid">
            {
                elections.map((entry) => {
                    const search = Object.keys(entry)
                        .map(
                            (key) =>
                                `${key}=${entry[key as keyof typeof entry]}`,
                        )
                        .join("&");

                    return (
                        <Card
                            href={`election/votingAreas?${search}`}
                            title={entry.competition}
                            body="Go to elections live collection ❤️"
                        />
                    );
                })
            }
        </ul> -->

        <h2>Mocks</h2>
        <ul role="list" class="link-card-grid">
            <Card href="/embed-mock" title="Embed mock" body="" />
        </ul>
    </main>
</Layout>
